/* .lobster-regular {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
} */
  
*{
    margin: 0;
    padding: 0;
    font-family: "Lobster", sans-serif;

}
header{
    font-family:  "Lobster", sans-serif;
    padding: 20px;
    background:linear-gradient(to top, lightblue, transparent);
}
header h1{
    margin-left: 20px;
}
#eu{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    background-color: lightblue;
    padding: 40px;
    gap: 100px;
}
#eu img{
    width:300px ;
    height: 450px;
    border-radius: 5px;
    
}
#text{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 250px;
    margin-top: 50px;
}
#text h1{
    width: 400px;
    text-align: justify;
    font-style: italic;
}
#text ul li{
    width: 400px;
    text-align: justify;
}
/* .quemsoueu{
    width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.quemsoueu p{
    margin-top: 20px;
} */
#familia{
    margin-top: 50px;
    background-color: lightblue;
    text-align: center;
    font-size: x-large;
}
.family{
    background-color: lightblue;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.family img{
    border-radius: 6px;
}
.section{
    text-align: center;
    background-color: lightblue ;
    padding: 40px;
}
.family2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.curiosidades{
    text-align: center;
    margin-top: 50px;
}
#gosto{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
#listaGosto li{
    list-style: none;
}
.escola{
    text-align: center;
    margin: 0 auto;
}
.escola h1 {
    margin-top: 80px;
}
.escola img{
    margin-top: 25px;
}
#viagem{
    display: flex;
    justify-content: center;
    gap: 15px;
}
#viagem img{
    width: 300px;
}
#viagem ul li{
    list-style: none;
}
#viagem ul{
    margin-top: 40px;
}
.viagens{
    background-color: lightpink;
    text-align: center;

}
.viagens h1{
    margin-top: 40px;
}

#cor{
    background:linear-gradient(to top, #ffb6c1, transparent);
    padding: 40px;
    margin-top: 40px;
}
.front{
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}
.front h1{
    margin-bottom: 15px;
}
.front p{
    width: 600px;
    margin: 0 auto;
}
#color{
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background:linear-gradient(to bottom, lightpink, transparent);
    font-size: small,;
}